version: "3.8"

services:
  zookeeper:
    image: wurstmeister/zookeeper:3.4.6
    container_name: zookeeper
    ports:
      - "2181:2181"
    networks:
      - app-network

  kafka:
    image: wurstmeister/kafka:2.13-2.8.1
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper
    networks:
      - app-network
  
  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    ports:
      - "8080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
    depends_on:
      - kafka
    networks:
      - app-network

  postgres:
      image: postgres:14
      container_name: my_postgres
      environment:
        POSTGRES_USER: my_user
        POSTGRES_PASSWORD: 12345
        POSTGRES_DB: my_db
      ports:
        - "5432:5432"
      networks:
        - app-network

  transform:
      build:
        context: .
        dockerfile: Dockerfile.transform
      container_name: transform
      depends_on:
        - postgres
      environment:
        DB_HOST: postgres
        DB_PORT: 5432
        DB_NAME: my_db
        DB_USER: my_user
        DB_PASSWORD: 12345
      networks:
        - app-network

  csv_to_kafka:
      build:
        context: .
        dockerfile: Dockerfile.csv_to_kafka
      container_name: csv_to_kafka
      depends_on:
        - kafka
        - zookeeper
        - postgres
      volumes:
        - ./data:/data
      networks:
        - app-network

  jobmanager:
    build:
      context: .
      dockerfile: Dockerfile.flink
    container_name: jobmanager
    ports:
      - "8081:8081"
    command: jobmanager
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: jobmanager
        restart-strategy: fixed-delay
        restart-strategy.fixed-delay.attempts: 3
        restart-strategy.fixed-delay.delay: 10s
        parallelism.default: 1
    depends_on:
      - kafka
      - postgres
    volumes:
      - ./jobs:/opt/flink/jobs
      - ./flink_sql:/opt/flink/flink_sql
    networks:
      - app-network

  taskmanager:
    build:
      context: .
      dockerfile: Dockerfile.flink
    container_name: taskmanager
    command: taskmanager
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: jobmanager
        taskmanager.numberOfTaskSlots: 12
    depends_on:
      - jobmanager
    volumes:
      - ./jobs:/opt/flink/jobs
      - ./flink_sql:/opt/flink/flink_sql
    networks:
      - app-network

networks:
  app-network:
